@charset "UTF-8";
/* CSS Document */


html {
    width: 100%;
    margin: 0px;
    padding: 0px;
}


body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: black;
}


/*
.title {
	font-family: "space age";
	text-align: center;
	font-size: 80px;
	margin: 60px 0px;
}
*/

.title {
    height: auto;
    margin: 0px;
    padding: 0px;
}
.title h1 {
    height: auto;
    margin: 0px;
    padding: 20px 0px;
}
.title img {
    height: 70px;
    margin: 3px 20px;
    padding: 0px;
    vertical-align: middle;
    display: inline-block;
    float: left;
}


.navbar {
	font-size: 20px;
    background-color: #c0c0d0;
	text-align: center;
	padding-top: 0.1px;
	padding-bottom: 0.1px;
}

.navbar ul {
	letter-spacing: 1px;
	margin-top: 0.7%;
	margin-bottom: 0.7%;
}

.navbar li {
	display: inline;
	margin-left: 30px;
	margin-right: 30px;
}

.navbar a {
	text-decoration: none;
    color: black;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

/*
    background-color: #c0c0d0;
a:hover {
    background-color: #444;
}
*/


.content {
    min-height: 100vh;
    margin: 0px;
    padding: 20px 20px;
}


.footer {
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 25px 0px;
    height: auto;
    width: 100%;
    background-color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
    color: white;
    text-align: center;
}

/*
.scrollable {
    overflow:auto;
}
<div style="width:320px; height:80px; ">
<table cellspacing="0" cellpadding="1" border="1" width="300" >
.fixed_header tbody{
}
.fixed_header thead tr{
  display:block;
}
*/

table.striped {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

table.striped thead {
    display: block;
}

table.striped tbody {
    display: block;
    overflow: auto;
    width: 100%;
}

table.striped td, th {
    text-align: left;
    padding: 5px;
}

table.striped tr:first-child {
    background-color: #ccc;
}

table.striped tr:nth-child(odd) {
    background-color: #eee;
}

table.striped tr:nth-child(even) {
    background-color: #fff;
}


table.borderless {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

table.borderless tr {
    background-color: inherit;
}

table.borderless td, th {
    text-align: left;
    margin: 0px;
    padding: 0px 10px 0px;
}


.horizontal-list {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

.thin-border {
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
}

.post-form label {
    vertical-align: top;
}
